#main,
#main-content {
    position: absolute;
    list-style: none;
    text-align: center;
    top: 26vh;
    left: 5vw;
    width: 90vw;
    height: 100vh;
}

#main {
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    min-width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden !important;
    padding: 3vh 2vw 25vh 2vw;
    background-color: black;
    background-image: url(../images/main-background.jpg);
}