@import url("header-styles.css");
@import url("main-styles.css");
@import url("footer-styles.css");
* {
    text-decoration: none !important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body * {
    color: rgba(0, 0, 0, 0.6);
}


/* Hide scrollbar for Chrome, Safari and Opera */

*::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 0.06vh 0.1vh 0 #C99789 !important;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.4vw;
}

h3 {
    font-size: 1.9vw;
}

h4 {
    font-size: 1.5vw;
}

h5 {
    font-size: 1.2vw;
}

h6 {
    font-size: 1.0vw;
}