#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 9vh;
    background-color: rgba(64, 64, 64);
    background-color: rgba(64, 64, 64, 0.4);
    border-bottom: 0.1em outset black;
}